<div id="d">
<!-- <form action="/action_page.php"> -->
  <div class="mb-3 mt-3">
    <label for="card" class="form-label">מספר אשראי:</label>
    <input type="text" class="form-control" id="card" placeholder="0000-0000-0000-0000" name="card">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">cvv:</label>
    <input type="text" class="form-control" id="pwd" placeholder="000" name="pswd">
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">תוקף:</label>
    <input type="date" class="form-control" id="date"  name="date">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">מס זהות:</label>
    <input type="password" class="form-control" id="pwd" placeholder="" name="pswd">
  </div>
<button (click)="save()">אישור</button>
</div>
