/* *{
    background-image: url("../../public/לוגווו-01.png");
} */
/* #allCat{
    left:initial ;
   border: 3px solid black;
      display: flex;
     flex-wrap: wrap; 
 }
 #c{
     margin-right: 0%;
     border: 3px solid black;
 }
 #allp{
    display: flex;
     flex-direction: row;
    
     
 }
 h4{
    color: brown;
 }

  */